/*body{
    margin: 0;
}

.background{
    background: url(sadboy.png) center/contain;
    filter: grayscale(70%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main--header{
    background: #65c565;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.list{
    list-style: none;
}

.list--item {
   display: inline-block;
   margin: 0 8px;
}

.list--item a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.main--div{
    display: inline-block;
    vertical-align: middle;
}

.main--div a{
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    color: black;
    margin: 0 0 0 16px;
}

.main--div img{
    height: 30px;
    margin-left: 15px;
}

.main--nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 88px);
    vertical-align: middle;
}

.main--nav a:hover,
.main--nav a:active{
    color: white;
    border-bottom: white 4px solid;
}

.list--item__cta a{
    color: white;
    background: #000000;
    padding: 8px 16px;
    border-radius: 8px;
}

.list--item__cta a:hover,
.list--item__cta a:active{
    color: black;
    background: white;
    border-bottom: none;
}

.button{
    background: #0c3a0c;
    color: white;
    border: #0c3a0c solid 1.5px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: white;
    color: #0c3a0c;
}

.button:focus{
    outline: none;
}

.main-footer{
    background: black;
    padding: 32px;
    margin-top: 40px;
}

.footer-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-list__item{
    display: inline-block;
    margin: 0 10px;
}

.footer-list__item a{
    color: white;
    text-decoration: none;
}

.footer-list__item a:hover,
.footer-list__item a:active{
    color: #ccc;
}
main{
    margin-top: 32px;
}
*/
.package{
    width: 80%;
    border: solid 4.5px #0e4f1f;
    border-left: none;
    margin: 16px 0;
    position: relative;
    overflow: hidden;
}

.package__badge{
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    font-size: .8rem;
    color: white;
    background-color: #0e4f1f;
    border: #0e4f1f;
    padding: .5rem;
    transform: rotateZ(45deg) translateX(3.5rem) translateY(-1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
    
}

.package__title{
    font-size: 1rem;
}

@media(min-width:40rem){
    /*.package__badge{
    }*/
    .package__title{
        font-size: 2rem;
    }
}

.package:hover,
.package:active{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    border-color: red;
}

.package a{
    color:inherit;
    display: block;
    text-decoration: none;
    padding: 22px;
}

.package__subtitle{
    color: #979797;
}

.package__info{
    color: #0e4f1f;
    background: white;
    border: 2px solid #0e4f1f;
    padding: 16px;
    font-size: 20px;
}

.clearfix{
    clear: both;
}

#plus{
    background-color: rgba(213, 255, 220, .95);
    position: relative;
    top: 25px;
}

#free{
    background-color: rgba(234, 252, 237, .95);
    float: right;
    border-right: none;
    border-left: solid 5px #0e4f1f ;
}

#free:hover,
#free:active{
    border-left-color: red;
}

#premium{
    background-color: rgba(14, 79, 31, .95);
}

#premium .package__title{
    color: white;
}

#premium .package__subtitle{
    color: #bbb;
}

@media(min-width:40rem){
    main{
        margin: 3rem auto;
        max-width: 60rem;
    }

    #plus,
    #premium
    {
        border-left: solid 5px #0e4f1f;
    }

    #plus:hover,
    #plus:active,
    #premium:hover,
    #premium:active
    {
        border-left-color: red;
    }

    #free{
        border-right: solid 5px #0e4f1f;
    }

    #free:hover,
    #free:active{
        border-right-color: red;
    }
}