/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html{
    height: 100%;
}

body{
    margin: 0;
    padding-top: 3.5rem;
}

@supports((display: -ms-grid) or (display: grid)){
    body{
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 3.5rem auto 8rem;
        grid-template-rows: 3.5rem auto 8rem;
            grid-template-areas: "header"
                   "main"
                   "footer";
                   height: 100%;
        padding-top: 0;           
    }
}

main{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
}

.background{
    background: url(sadboy.png) center/contain;
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main--header{
    background: #65c565;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list--item {
   margin: 0 8px;
}

.list--item a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.main--div a{
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    color: black;
    margin: 0 0 0 16px;
}

.main--div img{
    height: 30px;
    margin-left: 15px;
}

.main--nav a:hover,
.main--nav a:active{
    color: white;
    border-bottom: white 4px solid;
}

.list--item__cta a{
    color: white;
    background: #000000;
    padding: 8px 16px;
    border-radius: 8px;
}

.list--item__cta a:hover,
.list--item__cta a:active{
    color: black;
    background: white;
    border-bottom: none;
}

.button{
    background: #0c3a0c;
    color: white;
    border: #0c3a0c solid 1.5px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: white;
    color: #0c3a0c;
}

.button:focus{
    outline: none;
}

.button[disabled]{
    cursor: not-allowed;
    background-color: #ccc;
    border: #a1a1a1;
    color: #a1a1a1;
}

.main-footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    background: black;
    padding: 1.2rem;
    margin-top: 1.2rem;
    grid-area: footer;
}

.footer-list{
    list-style: none;
    margin: 0;
    padding: 0; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-list__item{
    margin: .5rem 0;
}

.footer-list__item a{
    color: white;
    text-decoration: none;
}

.footer-list__item a:hover,
.footer-list__item a:active{
    color: #ccc;
}

@media(min-width:40rem){
    .footer-list__item{
        margin: 0 1rem;
    }

    .footer-list{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}

main{
 /*   margin-top: 3.5rem;*/
    padding-top: .2rem;
}